@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

* {
  font-family: 'Hack', monospace;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e252e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ebdbb2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8037;
}

/* global.css */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e3440; /* or any color you prefer */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e9f0;
  font-size: 2rem;
  z-index: 9999; /* Ensure it is above other content */
}

.ascii-art {
  margin-top: 20px;
  font-family: monospace;
  white-space: pre;
  font-size: 1rem;
}

.foot{
  position: absolute; 
    bottom: 0; 
    font-size: 12px;
    right: 0; 
    margin-right: 30px;
    margin-bottom: 20px;
    z-index: 10;
}